* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: #e9ebee;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.header {
  background: #4267b2;
  border-bottom: 1px solid #29487d;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  max-width: 700px;
  width: 100%;
  padding: 30px;
  box-shadow: 0px 0px 5px 2px #ccc;
  margin-bottom: 30px;
  font-size: 16px;
  color: #333;
  border-radius: 3px;

  .separator {
    height: 1px;
    background: #eee;
    margin-bottom: 15px;
  }

  .post-header {
    margin-bottom: 30px;

    .avatar {
      width: 60px;
      height: 60px;
      background: red;
      float: left;
      clear: both;
      border-radius: 50%;
      margin-right: 10px;
    }

    .username {
      padding-top: 15px;
      font-size: 16px;
      color: #666;
      font-weight: 600;
    }

    .published-in {
      font-size: 14px;
      color: #999;
    }
  }
}
